/* \

Global Color Variables

*/
$main-cta: #d94814;
$cta-hover: #bd3504;
$body-text-color: #ffffff;
$menu-text-color: #9b9b9b;
$paragraph-color: #b0b0b0;
$back-arrow: #3f3f3f;
$social-icons: #ffffff;
$bg-color: #747474;
$black-25: rgba(0, 0, 0, 0.25);
$black-50: rgba(0, 0, 0, 0.5);
$black-75: rgba(0, 0, 0, 0.75);
$white-25: rgba(255, 255, 255, 0.25);
$white-50: rgba(255, 255, 255, 0.5);
$white-75: rgba(255, 255, 255, 0.75);
$container-border: #3c3c3c;
$border-color-subtle: #6d6d6d;
$border-hover: #d5d5d5;
$skill-circle-bg: #262322;
$scroll-bar: #7e7e7e;
$scroll-bg: #535353;
/*

Global Font Variables

*/
$headline-font: railroad-gothic-atf, sans-serif;
$body-font: interstate, sans-serif;

/*

Reset

*/
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $headline-font;
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	font-weight: 700;
}
ul {
	list-style: none;
}
button,
input,
select,
textarea {
	margin: 0;
}
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
img,
embed,
iframe,
object,
audio,
video {
	height: auto;
	max-width: 100%;
}
iframe {
	border: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td,
th {
	padding: 0;
	text-align: left;
}
a {
	cursor: pointer;
	color: $body-text-color;
	font-style: italic;
}

/*

Styles

*/

html {
	font-size: 16px;
}

body {
	background-attachment: fixed;
	background-image: url("../public/bg.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: repeat-y;
	background-color: $bg-color;
	min-height: 100vh;
	color: $body-text-color;
	font-family: $body-font;
	padding: 1rem 0.5rem 1.5rem;
}

button {
	align-items: center;
	background-color: $black-25;
	border: none;
	color: $body-text-color;
	cursor: pointer;
	display: flex;
	font-family: $headline-font;
	font-size: 1rem;
	letter-spacing: 1px;
	margin: auto;
	padding: 10px 20px;
	position: relative;
	img {
		margin-left: 1rem;
	}
	&[type="submit"] {
		background-color: $main-cta;
	}
}

h1 {
	font-size: 2.25rem;
	line-height: 1.3em;
	margin-bottom: 1.5rem;
}

h2 {
	font-size: 1.5rem;
	line-height: 1.3em;
	margin: 1.5rem 0 1rem;
}

p {
	color: $paragraph-color;
	font-size: 1.25rem;
	line-height: 1.5em;
	margin-bottom: 1em;
	padding-top: 0;
	strong {
		color: $body-text-color;
		font-style: italic;
	}
}

section section {
	padding-bottom: 1.5rem;
	img {
		width: 100%;
	}
}

a {
	transition: all 0.05s;
	&:hover {
		color: $main-cta;
	}
	&.cta {
		background-color: $main-cta;
		border-bottom: 2px solid transparent;
		box-shadow: none;
		transition: all 0.1s ease-in-out;
		&:hover {
			background-color: $cta-hover;
			border-color: $body-text-color;
			color: $body-text-color;
		}
	}
}

.about {
	img {
		width: 400px;
		max-width: 100%;
		margin: 1rem;
	}
}

.avatar {
	display: inline-block;
	overflow: hidden;
	border-radius: 100%;
	height: 50px;
	width: 50px;
	img {
		height: auto;
		width: 50px;
	}
}
#home {
	.avatar {
		height: 150px;
		width: 150px;
		img {
			height: auto;
			width: 150px;
		}
	}
	a {
		.preview {
			display: block;
			position: relative;
			img {
				width: 735px;
				max-width: 100%;
				height: auto;
				margin-bottom: -3px;
			}
			.arrow {
				border: 1px solid transparent;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 1rem 2rem;
				position: absolute;
				bottom: 0;
				right: 0;
				height: 50px;
				background-color: $main-cta;
				svg {
					path {
						fill: $body-text-color;
					}
					height: 1.1em;
					margin-left: 0.5rem;
				}
			}
		}
		&:hover {
			filter:brightness(1.5);
			.preview {
				.arrow {
					border-bottom-color: $body-text-color;
					color: white;
					background-color: $cta-hover;
				}
			}
		}
	}
}

.body {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding-top: 1.5rem;
	padding-bottom: 4.5rem;
}

.center {
	font-weight: 100;
	text-align: center;
}

.col {
	width: 100%;
}

.container {
	align-items: flex-start;
	background: rgb(18, 17, 17);
	background-repeat: no-repeat;
	background-image: url("../public/bg-container.jpg");
	background-position: center;
	background-size: cover;
	border: 1px solid $container-border;
	box-shadow: 0px 20px 50px rgba(0, 0, 0, 1);
	display: grid;
	grid-template-rows: 75px auto 265px;
	min-height: 83%;
	overflow: hidden;
	padding: 1.5rem;
}

.form {
	background-color: rgba(255, 255, 255, 0.05);
	display: flex;
	flex-flow: row wrap;
	padding: 2rem;
	margin-bottom: 2rem;
	form {
		display: flex;
		flex-flow: row wrap;
		width: 100%;
	}
	input,
	textarea {
		background-color: $back-arrow;
		border: 1px solid $menu-text-color;
		color: $paragraph-color;
		font-family: $body-font;
		font-size: 1.15rem;
		line-height: 1.5;
		min-height: 1.5em;
		padding: 0.5em;
		transition: all 0.1s;
		width: 100%;
		&:hover,
		&:focus {
			background-color: $body-text-color;
			color: $black-75;
			border-color: $main-cta;
			outline: 0 none;
		}
	}
	textarea {
		min-height: 6em;
	}
	label {
		color: $body-text-color;
		font-size: 0.8rem;
		text-transform: uppercase;
		letter-spacing: 0.1ch;
	}
	p {
		width: 100%;
		button {
			margin: 0;
			margin-right: auto;
		}
		&.hidden {
			width: 1px;
		}
	}
	.contact-description {
		width: 75%;
		margin-left: 1ch;
	}
}

.grid {
	display: grid;
}

.footer {
	border-top: 1px solid $border-color-subtle;
	display: flex;
	flex-flow: row wrap;
	padding-top: 1.5rem;
	width: 100%;
	img {
		width: auto;
	}
	p {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		margin: 0;
		width: 100%;
		a {
			color: $body-text-color;
			font-size: 1rem;
			font-weight: bold;
			letter-spacing: 2px;
			text-decoration: none;
			&:hover {
				color: $main-cta;
			}
		}
	}
	span {
		display: block;
		font-size: 1rem;
		letter-spacing: 2px;
		text-align: center;
		width: 100%;
	}
	.links {
		display: flex;
		flex-flow: column;
		width: 100%;
		a {
			&.download-btn {
				align-self: center;
				align-items: center;
				display: flex;
				margin-right: 1rem;
				// background-color: $main-cta;
				border-bottom: 2px solid transparent;
				padding: 0.5rem 1rem;
				text-decoration: none;
				transition: all 0.1s;
				img {
					margin-left: 1rem;
					max-height: 1.8rem;
				}
				&:hover {
					background-color: $cta-hover;
					border-color: $body-text-color;
					color: $social-icons;
					transform: scale(1.05);
				}
			}
		}
	}
}

.contact-links {
	align-items: center;
	background-color: transparent;
	border: 1px solid $white-25;
	color: $white-75;
	display: flex;
	flex-direction: column;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 900;
	margin-bottom: 1rem;
	padding: 1rem 0.5rem;
	text-decoration: none;
	transition: all 0.1s;
	&:hover {
		color: $body-text-color;
		background-color: rgba(0, 0, 0, 0.5);
		border-bottom-color: $main-cta;
	}
	svg {
		margin-bottom: 0.5rem;
		height: 1.75rem;
		width: auto;
	}
}

.heading {
	&-headline {
		width: 100%;
	}
	&-subtitle {
		color: $paragraph-color;
		font-family: $body-font;
		font-weight: normal;
		text-transform: uppercase;
	}
}

.logo {
	img {
		height: 50px;
	}
}

.hidden {
	position: absolute;
	visibility: hidden;
	z-index: -999;
}

.menu {
	&-large {
		display: none;
		ul {
			display: flex;
		}
	}
	&-small > a {
		background-color: $black-50;
		border-bottom: 1px solid transparent;
		display: block;
		height: 50px;
		opacity: 0.5;
		padding: 12px;
		&:hover,
		&:active {
			background-color: $black-75;
			border-color: $main-cta;
			opacity: 1;
		}
	}
}

.nav {
	align-items: center;
	border-bottom: 1px solid $border-color-subtle;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 1.5rem;
	.links {
		display: none;
	}
	&-list {
		border-bottom: none;
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	&-link {
		border-bottom: 2px solid transparent;
		color: $menu-text-color;
		display: block;
		font-family: $headline-font;
		font-size: 2rem;
		font-style: normal;
		font-weight: 700;
		padding: 15px;
		text-align: center;
		text-decoration: none;
		transition: all 0.1s ease-in-out;
		&:hover,
		&:active {
			border-bottom-color: $main-cta;
			color: $border-hover;
		}
	}
}

.privacy {
	h2,
	h3,
	h4 {
		font-family: $body-font;
	}
	ul {
		background-color: rgba(255, 255, 255, 0.05);
		list-style-type: square;
		padding: 1rem;
		padding-left: 40px;
		li {
			font-size: 1.2rem;
			color: $paragraph-color;
			line-height: 1.5;
		}
	}
	.col {
		margin: auto;
	}
}

.project {
	&-back {
		align-items: center;
		color: $body-text-color;
		display: flex;
		line-height: 1;
		text-decoration: none;
		font-family: $headline-font;
		font-size: 1.25rem;
		font-style: normal;
		font-weight: 700;
		span {
			background-color: $black-25;
			border: 1px solid transparent;
			display: inline-block;
			margin-right: 1rem;
			padding: 0.75rem;
			svg {
				path {
					fill: $paragraph-color;
				}
			}
		}
		&:hover,
		&:active {
			span {
				border-bottom-color: $main-cta;
				svg {
					path {
						fill: $social-icons;
					}
				}
			}
		}
	}
	&-content {
		padding-top: 2rem;
		p {
			color: $paragraph-color;
		}
		ul {
			background-color: rgba(255, 255, 255, 0.05);
			padding: 1rem 2rem;
			list-style-type: disc;
			li {
				color: $paragraph-color;
				font-size: 1rem;
				line-height: 1.5;
				font-style: italic;
			}
			&:last-child {
				background: none;
				padding: 0;
				list-style: none;
				li {
					font-style: normal;
				}
			}
		}
	}
	&-links {
		display: flex;
		justify-content: flex-start;
		padding-top: 1.5rem;
		a {
			align-items: center;
			background-color: $main-cta;
			border: 1px solid transparent;
			box-shadow: none;
			display: flex;
			font-size: 1.25rem;
			margin: 0;
			margin-right: 1rem;
			padding: 10px 20px;
			position: relative;
			text-decoration: none;
			svg {
				margin-left: 0.5rem;
				fill: $social-icons;
			}
			&.subtle {
				color: $border-hover;
				background-color: $black-25;
				box-shadow: none;
				font-family: interstate, Arial, Helvetica, sans-serif;
				font-style: italic;
				margin-right: 1em;
				padding-left: 0.5em;
				padding-right: 0.5em;
				svg {
					margin-left: 1em;
				}
			}
			&.cta {
				box-shadow: none;
			}
			&:hover {
				border-color: transparent;
				border-bottom-color: $social-icons;
				color: $social-icons;
			}
		}
	}
	&-photos {
		padding-top: 2rem;
		& > img {
			margin-bottom: 1rem;
		}
	}
	&-thumb {
		padding-bottom: 1rem;
		a {
			font-style: normal;
			text-decoration: none;
		}
		&:hover {
			img {
				filter: brightness(1.75);
			}
		}
		h2 {
			line-height: 1;
			margin-bottom: 0.25rem;
			a {
				box-shadow: none;
			}
		}
		h4 {
			color: $paragraph-color;
			font-family: $body-font;
			font-weight: 100;
			text-transform: uppercase;
			margin-bottom: 1.5rem;
		}
		img {
			position: relative;
			z-index: 0;
			width: 100%;
		}
	}
}

.skills {
	column-gap: 1rem;
	display: flex;
	flex-flow: row wrap;
	position: relative;
	row-gap: 1rem;
}

.skill-container {
	background-color: $skill-circle-bg;
	border-radius: 100%;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
	display: flex;
	height: 84px;
	width: 84px;
	img {
		max-height: 50px;
		margin: auto;
	}
}

.social {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding-top: 1rem;
	a {
		background-color: $black-25;
		border-bottom: 1px solid transparent;
		display: flex;
		height: 54px;
		margin-right: 15px;
		padding: 10px;
		width: 54px;
		transition: all 0.1s;
		&:hover {
			background-color: $black-50;
			border-color: $main-cta;
		}
		img {
			margin: auto;
		}
	}
	&-links {
		display: flex;
		justify-content: center;
		a {
			padding: 0.75rem;
			&:hover svg path {
				fill: $main-cta;
			}
		}
		svg path {
			fill: $social-icons;
			transition: fill 0.1s ease;
		}
	}
}

#header,
#skills,
#projects {
	width: 100%;
}

#contact {
	.grid {
		width: 100%;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, auto);
	}
}

#project {
	.grid {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(6, auto);
		grid-template-areas:
			"headline"
			"subtitle"
			"links"
			"content"
			"photos"
			"back";
		height: 100%;
	}
}

/* Make clicks pass-through */
#nprogress {
	pointer-events: none;
	.bar {
		background: $main-cta;
		position: fixed;
		z-index: 1031;
		top: 0;
		left: 0;
		width: 100%;
		height: 2px;
	}
	.peg {
		/* Fancy blur effect */
		display: block;
		position: absolute;
		right: 0px;
		width: 100px;
		height: 100%;
		box-shadow: 0 0 10px $main-cta, 0 0 5px $main-cta;
		opacity: 1;
		-webkit-transform: rotate(3deg) translate(0px, -4px);
		-ms-transform: rotate(3deg) translate(0px, -4px);
		transform: rotate(3deg) translate(0px, -4px);
	}
	.spinner {
		/* Remove these to get rid of the spinner */
		display: block;
		position: fixed;
		z-index: 1031;
		top: 15px;
		right: 15px;
	}
	.spinner-icon {
		width: 18px;
		height: 18px;
		box-sizing: border-box;
		border: solid 2px transparent;
		border-top-color: $main-cta;
		border-left-color: $main-cta;
		border-radius: 50%;
		-webkit-animation: nprogress-spinner 400ms linear infinite;
		animation: nprogress-spinner 400ms linear infinite;
	}
}

.nprogress-custom-parent {
	overflow: hidden;
	position: relative;
	#nprogress .spinner,
	#nprogress .bar {
		position: absolute;
	}
}

@-webkit-keyframes nprogress-spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes nprogress-spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media only screen and (min-width: 768px) {
	.container {
		grid-template-rows: 75px auto 173px;
	}
	.footer {
		padding-bottom: 0;
		flex-flow: row;
		align-items: center;
		button {
			margin: 0;
			margin-right: 2rem;
		}
		p {
			flex-flow: column;
			justify-content: end;
			margin-top: 0;
			width: auto;
			text-align: right;
			span {
				width: auto;
				margin-left: 1rem;
			}
		}
		.links {
			width: auto;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			margin-right: auto;
		}
	}
	.form {
		margin-right: 2rem;
		form {
			justify-content: space-between;
		}
		.name,
		.email {
			width: 49%;
		}
	}

	#menu .nav-list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
	#contact {
		justify-content: space-between;
		.contact {
			display: flex;
			justify-content: space-between;
			a {
				width: 38%;
			}
			.social-links {
				width: 18%;
			}
		}
	}
}

@media only screen and (min-width: 1080px) {
	.App {
		height: 100%;
		display: flex;
		flex-flow: row wrap;
	}
	.avatar {
		height: 75px;
		width: 75px;
		img {
			width: 75px;
		}
	}
	.col {
		width: 49%;
	}
	.container {
		margin: auto;
		padding: 2rem;
		grid-template-rows: 75px auto 109px;
	}
	.contact-links {
		flex-flow: row wrap;
		padding: 1rem 3rem;
		span {
			font-weight: 100;
			font-size: 0.7em;
			letter-spacing: 0.1ch;
			text-transform: uppercase;
		}
		svg {
			margin: 0 1rem;
		}
	}
	.footer {
		p {
			flex-flow: row;
		}
		.links {
			flex-direction: row;
		}
	}
	.form {
		form {
			justify-content: space-between;
		}
		.name,
		.email {
			width: 49%;
		}
	}
	.project-thumb {
		width: 31%;
		margin-right: 3%;
		&:last-child {
			margin-right: 0;
		}
	}

	.social {
		padding: 0;
	}

	#projects h2 {
		margin-top: 0;
	}

	#work {
		.col {
			width: 100%;
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-start;
			margin-right: 3%;
		}
	}

	#work h1,
	#contact h1 {
		width: 100%;
	}
	#contact {
		justify-content: space-between;
		h2 {
			margin-top: 0;
		}
		.contact {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-flow: column wrap;
			a {
				width: auto;
			}
			.social-links {
				width: auto;
			}
		}
		.grid {
			grid-template-columns: 40% 1fr;
			grid-template-rows: auto;
		}
	}
	#project {
		h1 {
			grid-area: headline;
			margin: 0;
		}
		&.body {
			align-self: stretch;
		}
		.grid {
			grid-template-columns: 30% 1fr;
			grid-template-rows: min-content auto auto 1fr 3rem;
			grid-template-areas:
				"headline photos"
				"subtitle photos"
				"links photos"
				"content photos"
				"back photos";
			height: 100%;
		}
		.heading {
			&-subtitle {
				color: $paragraph-color;
				grid-area: subtitle;
			}
		}
	}

	.project {
		&-links {
			grid-area: links;
		}
		&-content {
			grid-area: content;
		}
		&-photo {
			width: 95%;
		}
		&-photos {
			grid-area: photos;
			overflow-y: scroll;
			max-height: 80vh;
			scrollbar-color: $scroll-bar $scroll-bg;
			padding-left: 2rem;
			&::-webkit-scrollbar {
				width: 15px;
				height: 15px;
			}
			&::-webkit-scrollbar-track-piece {
				background-color: $scroll-bg;
			}
			&::-webkit-scrollbar-thumb:vertical {
				height: 30px;
				background-color: $scroll-bar;
			}
		}
		&-back {
			grid-area: back;
			padding-top: 2rem;
		}
	}

	#menu .nav-list {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: auto;
	}
}

@media only screen and (min-width: 1600px) {
	.container {
		width: 1600px;
		max-width: 96%;
		margin: auto;
		padding: 3rem;
		grid-template-rows: 85px auto 1fr;
	}
	.footer {
		p {
			width: 100%;
		}
		.links {
			display: none;
		}
	}

	.logo {
		margin-right: 2rem;
	}

	.menu {
		&-large {
			display: block;
		}
		&-small {
			display: none;
		}
	}

	.nav {
		&-link {
			line-height: 1;
			font-size: 1.75rem;
			&.active {
				color: $body-text-color;
				border-color: $main-cta;
			}
		}
		&-list {
			flex-flow: row;
			align-items: center;
		}
		.links {
			display: flex;
			flex-flow: row;
			align-items: center;
			margin-left: auto;
		}
	}

	.links {
		a {
			&.download-btn {
				align-items: center;
				display: flex;
				margin-right: 1rem;
				// background-color: $main-cta;
				border-bottom: 2px solid transparent;
				padding: 0.5rem 1rem;
				text-decoration: none;
				transition: all 0.1s;
				img {
					margin-left: 1rem;
					max-height: 1.8rem;
				}
				&:hover {
					background-color: $cta-hover;
					border-color: $body-text-color;
					color: $social-icons;
					transform: scale(1.05);
				}
			}
		}
	}

	.social-links {
		justify-content: flex-start;
	}

	#contact {
		justify-content: flex-start;
		.center {
			text-align: left;
		}
	}

	#menu .menu-large {
		display: none;
	}
}

.switch-wrapper {
	display: grid;
	grid-template-areas: "switch";
}
.switch-wrapper > div {
	grid-area: switch;
}
